

{% if user.is_authenticated %}
Logged in as {{user.username}}

<a  href="{% url 'createtodo' %}">Create</a>
<a  href="{% url 'currenttodos' %}">Current Todos</a>
<a  href="{% url 'completedtodos' %}">Completed Todos</a>

<form action="{% url 'logoutuser' %}" method="POST">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>

{% else %}

<form action="{% url 'signupuser' %}">

    <button type="submit">Sign Up</button>
</form>

<form action="{% url 'loginuser' %}">

    <button type="submit">Login</button>
</form>

{% endif %} 

{% block content %}{% endblock %}